/* abt.css */

/* style.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

.about-section {
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: #333;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.customize-button {
    background-color: palevioletred;
    border-radius: 20px;
    padding: 10px 20px;
}
.customize-button{
    background-color: #d1477a !important;
}
.customize-button:hover{
    color: black !important;
    background-color: rgb(247, 144, 178)!important;
}