body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.navbar a:hover, .navbar a.customize-button {
    background-color: palevioletred;
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: palevioletred;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* .form-group input[type="color"] {
    padding: 3px;
    height: 45px;
} */
.form-group select {
    padding: 3px;
    height: 45px;
}
.form-group select:hover,
.form-group select:focus {
    border-color: #007BFF; /* Change border color on hover/focus */
    outline: none;
}

#total-price {
    color: palevioletred;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    margin: 0 auto;
}

button:hover {
    background-color: #d06c9f;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
    border-radius: 0 0 10px 10px;
}

@media (min-width: 768px) {
    .form-group {
        flex-direction: row;
        align-items: center;
    }

    .form-group label {
        width: 30%;
        margin-bottom: 0;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 65%;
    }
}